body {
    background-color:#e9ebed;
}

main {
    margin-left: 30%;
    margin-right: 0%; 
    margin-top: 10%;
}

.main-pic {
    width: 30%;
    float: left;
}

.visas-text {
    display: inline-block;
    width: 30%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
    text-align: center;
}

.haš-vienas {
    font-size: 80px;
    margin-bottom: 0;
    color: #353f49;
}

.tekstas {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
    color:#696f89;
}

.namo {
    color: #a9abba;
}

.nuoroda {
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px;
    background-color: #696f89;
    color: #e9ebed;
}
